code {
	text-align:center;
	color:red;
}

#code {
	background-color:#00FFFF;	
	vertical-align:middle; 
	word-break: break-all; 
	display:inline-block; 
}

#menu{
	list-style-type: none; 
	margin: 0; 
	padding: 0; 

}